@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./editor.css";

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard";
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Custom placeholder color utility */
  .placeholder-gray::placeholder {
    background-color: "transparent";
    border: "none";
    width: "100%";
    color: #8f95b2;
    font-weight: 500;
    font-size: 16px;
    font-family: Pretendard;
    line-height: 26px;
    text-align: left;
  }

  /* Custom responsive image size */
  .image-responsive {
    width: 18px;
    height: 18px;
  }

  @media (min-width: 640px) {
    /* sm breakpoint */
    .image-responsive-sm {
      width: 24px;
      height: 24px;
    }
  }
}

body {
  font-family: "Pretendard";
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}

:root {
  --button-radius: 10px;
}

.button {
  -webkit-appearance: button;
  background-color: #4cbfa4;
  background-image: none;
}

.button:disabled,
.button[data-disabled] {
  color: #fff;
  background-color: #c6cada;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input.mantine-Input-input::placeholder {
  color: #8f95b2;
}
