@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./editor.css";

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nexon";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

input.mantine-Input-input::placeholder {
  color: #8f95b2;
}

:root {
  --button-radius: 10px;
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}

.button:disabled,
.button[data-disabled] {
  color: #fff;
  background-color: #c6cada;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

