@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nexon";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard";
}

@media (max-width: 1200px) { body{overflow-x: hidden;} }
=======
@import "./editor.css";
>>>>>>> 65715ca (feat: 에디터 초안 작성)
